﻿
@{
    ViewBag.Title = "LoginBlocked";
}

<h2 class="text-warning">Login blocked for 1 minute</h2>
<h4>Please try again in one minute</h4>
<div>
    @Html.ActionLink("Back to login", "Index")
</div>

